<% if notice %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1><%= t('.title_html') %></h1>

<div class="search-bar">
  <%= form_tag(store_index_path, method: :get, class: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>


<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= image_tag(product.image_url) %>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.decription) %>
          </p>
          <div class="price">
            <%= number_to_currency(product.price,  locale: I18n.locale) %>
          </div>
            <%= button_to t('.add_html'), 
            line_items_path(product_id: product, locale: I18n.locale),
            remote: true %>

            <%= button_to "*",
             add_to_wishlist_path(product_id: product), method: :post %>

        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= paginate @products %>
