<article>
<!DOCTYPE html>
<html>

  <head>
    <title>
      Your Book Store
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",
    media: "all",
    "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <script type="text/javascript">
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>
  <%# <%= javascript_include_tag 'locale_switcher', "data-turbolinks-track": "reload" %>

  <body>
    <header class='main' >
      <aside>
        <%= form_tag store_index_path, class: 'locale', method: :GET do %>
          <%= select_tag 'set_locale', 
            options_for_select(LANGUAGES, I18n.locale.to_s),
            onchange: 'this.form.submit()' %> 
        <% end %>
      </aside>
      <%= image_tag "logo.svg", alt: "Your Book Store" %>
      <h1>
        <%= @page_title %>
      </h1> 
        <div class="cart-button" >
          <%= link_to "Cart", cart_path(session[:cart_id]), class: "button" %>
            <div><span id="cart-quantity",  remote: true><%= total_cart_item %></span></div> 
        </div>

         <div class="cart-button" >
           <%= link_to "wishlist", wishlist_path(session[:user_id]), class: "button" %>
         </div> 

         <div class="cart-button" >
          <%= link_to "Sign Up",  new_user_registration_path, class: "button" %>
          <%= link_to "Log in", new_user_session_path, class: "button" %>
         </div>
    </header>

    <section class="content">
      <nav class="side_nav">
        <div id="cart" class="carts">
          <%= render_if @cart && @cart.line_items.any?, @cart %>
        </div>

        <ul>
          <li><a href="/"><%= t('.home') %></a></li>
          <li><a href="/questions"><%= t('.questions') %></a></li>
          <li><a href="/news"><%= t('.news') %></a></li>
          <li><a href="/contact"><%= t('.contact') %></a></li>
        </ul>

        <% if session[:user_id]  %>
          <%  user = User.find_by(id: session[:user_id]) %> 
           <%# <% if user.admin == 1 %> 
            <nav class="logged_in_nav">
              <ul>
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <%# <li><%= link_to "Wishlist", wishlist_path %></li> 
              </ul>
            </nav>
           <%# <% end  %> 
              <a><%= button_to 'Logout', logout_path, method: :delete %></a>
        <% end %>
      </nav>
      
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>

</html>
</article>